.env
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
data/*.db
data/*.db-*
*.egg-info/
dist/
build/
.DS_Store
.secrets/
public/
zerodeploy.json
ACCESS.txt

.secrets/
public/
zerodeploy.json
